doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet" href="/assets/style.css")
	body 
		form(action="/files/"+user+"/get/"+file method="post" enctype="multipart/form-data")
			label(for="sec") Security Code: 
			input(type="text" id="sec" name="sec" )
			br
			br
			input(type="submit" value="Submit")
