doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/assets/style.css")
  body 
    form(action="/api/uploadFile" method="post" enctype="multipart/form-data")
      label(for="user") Username: 
      input(type="text" id="user" name="user" )
      br
      br
      label(for="sec") Security Code: 
      input(type="text" id="sec" name="sec" )
      br
      br
      label(for="userfile") File: 
      input(type="file" id="userfile" name="userfile")
      br
      br
      input(type="submit" value="Submit")
